server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**


        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**
